html, body {
  background: #FFF9F2;
}

/* EDITOR */

#editor-meta-input .form-group {
    margin-bottom: 1.2rem;
}


/* PUBLISHED STORY */

#body-wrapper.container-fluid {
}

#published-story-hero h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 48px;
  color: #FFF;
  text-align: center;
}

#published-story-hero h2 {
  font-family: 'Merriweather', serif;
  font-weight: 200;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

#published-story-body p {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 1.8em;
  color: #444;
}

#published-story-body {
  padding-top: 8%;
}

#published-story-body p.initial-p:first-child:first-letter {
  color: #83240d;
  float: left;
  font-size: 90px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
  #published-story-body {
    padding-top: 4%;
  }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}
